<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging in to Spotify</title>

    <link rel="preload" href="{{ url_for('static', filename='fonts/Montserrat-Regular.ttf') }}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='fonts/Montserrat-Medium.ttf') }}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='fonts/Montserrat-SemiBold.ttf') }}" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="{{ url_for('static', filename='fonts/Montserrat-Bold.ttf') }}" as="font" type="font/ttf" crossorigin>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/favicons/favicon.ico">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
</head>
<body>
    <div class="landing-container">
        <div class="landing-content">
            <h1>Connecting to <span class="spotify-green">Spotify</span></h1>
            <p>Please wait while we connect to your Spotify account...</p>
            <div class="spinner"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>